[Unit] 
Description=OpenAFS Server Service 
After=syslog.target network.target 

[Service] 
EnvironmentFile=/etc/conf.d/openafs-server
ExecStart=/usr/sbin/bosserver -nofork $BOSSERVER_OPTIONS
ExecStop=/usr/bin/bos shutdown localhost -wait -localauth 

[Install] 
WantedBy=multi-user.target 
